<% _attrs = @resource.persisted? ? edit_attrs : new_attrs %>
<%= nested_form_for [*(resource_path + [@resource])] do |f| %>
  <% if @resource.errors.any? %>
    <div id="error_explanation">
      <h3>
        <%= "#{pluralize(@resource.errors.count, "error")} prohibited this character from being saved:" %>
      </h3>
      <ul>
        <% @resource.errors.full_messages.each do |msg| %>
          <li>
          <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <legend>
      <%= @form_title %>
    </legend>
    <div class="inputs">
      <% _attrs.each do |attr| %>
        <%= field_form f, attr %>
      <% end %>
    </div>
    <div class="actions">
      <%= f.button :submit, class: 'btn btn-default' %>
    </div>
  </fieldset>
<% end %>

