<h1><%= "Listing #{collection_name.humanize}" %></h1>
<%= link_to 'Create', new_resource_url, fields_default_link_hash %>
<br/>
<br/>
<table>
  <thead>
    <tr>
      <% index_attrs.each do |attr| %>
        <th>
          <%= field_name(attr).to_s.humanize %>
        </th>
      <% end %>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @collection.each do |resource| %>
      <tr>
        <% index_attrs.each do |attr| %>
          <td>
            <%= field_value(resource, attr) %>
          </td>
        <% end %>
        <td>
          <%= link_to 'Show', resource_url(resource), fields_default_link_hash %>
          &nbsp;
          <%= link_to 'Edit', edit_resource_url(resource), fields_default_link_hash %>
          &nbsp;
          <%= link_to 'Destroy', resource_url(resource), fields_default_link_hash.merge(data: {method: 'delete', confirm: 'Are you sure?'}) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

