%h1= "Details for #{resource_name.humanize}"

%dl
  - show_attrs.each do |attr|
    %dt= field_name(attr).to_s.humanize
    %dd= field_value @resource, attr

= link_to 'Edit', edit_resource_url, fields_default_link_hash
&nbsp;
= link_to 'Back', collection_url, fields_default_link_hash

